In [2]:
import pandas as pd
import numpy as np

In [3]:
data_clustered = pd.read_csv("data_v2.csv")

In [4]:
data_clustered.head(5)

,stay_date,start_date,site_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,booking_bool,visitor_location_country_id,Hotel_Group,month
0,2013-06-17,2013-06-17,14,0.0,0.0,14082,4,4.0,1,4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0,100,0,Jun
1,2013-06-18,2013-06-17,14,0.0,0.0,14082,4,4.0,1,4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0,100,0,Jun
2,2013-06-19,2013-06-17,14,0.0,0.0,14082,4,4.0,1,4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0,100,0,Jun
3,2013-06-20,2013-06-17,14,0.0,0.0,14082,4,4.0,1,4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0,100,0,Jun
4,2013-06-17,2013-06-17,14,0.0,0.0,24545,4,4.0,0,4.04,...,0.0,0.0,0.0,0.0,0.0,0.0,0,100,0,Jun

In [5]:
group1 = data_clustered[data_clustered.Hotel_Group == 0]

In [6]:
group1.shape

(38344, 50)

In [9]:
group1 = group1.drop(columns=['stay_date','start_date'])

In [10]:
group1.to_csv("data_OCT_grp1.csv")